{% extends '_layouts/base.html' %}

{% load multiply %}

    {% block content %}

        <h1 class="page-header">Buchungen</h1>


                {% if buchung_list %}
                <div class="col-md-12">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Datum</th>
                                            <th>Beschreibung</th>
                                            <th>Buchungssatz</th>
                                            <th>Betrag</th>
                                            <th>Aktionen</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for buchung in buchung_list %}
                                            <tr>
                                                <td>
                                                    {{ buchung.buchung_date|date:"j.m.o" }}
                                                </td>
                                                <td>
                                                    {{ buchung.buchung_descr }}
                                                </td>
                                                <td>
                                                    {{ buchung.buchung_sollKonto }} / {{ buchung.buchung_habenKonto }}
                                                </td>
                                                <td>
                                                    <span {% if buchung.buchung_rate != 1 %}class="tooltip-primary" data-toggle="tooltip" data-placement="top" data-original-title="={% multiply buchung.buchung_amount buchung.buchung_rate %} {{ buchung.buchung_sollKonto.konto_currency }} ({{ buchung.buchung_rate }})"{% endif %}>{{ buchung.buchung_amount }}

                                                    {{ buchung.buchung_habenKonto.konto_currency }}</span>

                                                </td>
                                                <td><a href="{% url 'edit-buchung' buchung.id %}"><i class="entypo-pencil tooltip-primary" data-toggle="tooltip" data-placement="top" data-original-title="Bearbeiten"></i></a><a href="{% url 'copy-buchung' buchung.id %}"><i class="entypo-plus-squared tooltip-primary" data-toggle="tooltip" data-placement="top" data-original-title="Kopieren"></i></a><a href="{% url 'delete-buchung' buchung.id %}"><i class="entypo-trash tooltip-primary" data-toggle="tooltip" data-placement="top" data-original-title="Löschen"></i></a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                </div>
                <!-- /.col-lg-6 -->
                {% else %}

                    <h3>Keine Buchungen verfügbar.</h3>

                {% endif %}

    {% endblock content %}
