{% extends '_layouts/base.html' %}


        {% load kontoSum %}
        {% load totalSum %}


        {% block content %}
        <h1 class="page-header">Buchhaltung</h1>
        <h2>Willkomen {% if user.is_authenticated %} {{ user.username }} {% endif %} </h2>

        {{ list }}

        {% for entry in list %}

            {{ entry.buchung_date }} - {{ entry.total_amount }}
            <br />

        {% endfor %}


            {% for menu_dict in list %}
                            {% for key,value in menu_dict.items %}
                                    {{ value }} <br />
                            {% endfor %}
            {% endfor %}

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

        {% endblock content %}
