{% extends '_layouts/base.html' %}

{% load getKonten %}


{% block content %}

{% getKonten as konten %}

{% if copy_view %}
    <h1 class="page-header">Buchung kopieren:<br /><span style="font-size:16px;">{{ buchung_details.buchung_descr }}</span></h1>
{% else %}
    <h1 class="page-header">Buchung &auml;ndern:<br /><span style="font-size:16px;">{{ buchung_details.buchung_descr }}</span></h1>
{% endif %}

<br />

<form method="post" action="" role="form" class="form-horizontal form-groups-bordered">

    {% csrf_token %}


    <div class="col-md-8">
        <div class="form-group">
            <label for="field-1" class="col-sm-3 control-label">Beschreibung</label>

            <div class="col-sm-8">
                <input type="text" autocomplete="off" class="form-control" id="field-1" value="{{ buchung_details.buchung_descr }}" name="buchung_descr">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Soll Konto</label>

            <div class="col-sm-5">
                <select class="form-control" name="buchung_sollKonto" id="sollKonto">
                    {% for konto in konten %}
                    <option value="{{ konto.id }}" data-currency="{{ konto.konto_currency }}">{{ konto.konto_title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Haben Konto</label>

            <div class="col-sm-5">
                <select class="form-control" name="buchung_habenKonto" id="habenKonto">
                    {% for konto in konten %}
                    <option value="{{ konto.id }}" data-currency="{{ konto.konto_currency }}">{{ konto.konto_title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Betrag</label>

            <div class="col-sm-5">
                <div class="input-group">
                    <input type="text" autocomplete="off" class="form-control" name="buchung_amount" value="{{ buchung_details.buchung_amount }}">
                    <span class="input-group-addon">CHF</span>
                </div>
            </div>
        </div>

        <div class="form-group" id="currency-input" style="display:none;">
            <label class="col-sm-3 control-label">Kurs</label>

            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" autocomplete="off" class="form-control" name="buchung_rate">
                    <span class="input-group-addon" id="currency-code">EUR/CHF</span>
                </div>
            </div>
        </div>


    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="col-sm-3 control-label">Buchungsdatum</label>

            <div class="col-sm-5">

                <input class="datepicker dateinput form-control" autocomplete="off" id="id_buchung_date" name="buchung_date" type="text" value="{{ buchung_details.buchung_date|date:"m/d/Y" }}">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Tags</label>

            <div class="col-sm-5">

                <input type="text" class="form-control tagsinput" name="buchung_tags" value="{% for tag in buchung_details.buchung_tags.all %}{{ tag.name }},{% endfor %}" />

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-5">

                <input type="submit" name="neue-buchung" value="Hinzuf&uuml;gen" class="btn btn-primary btn-primary" id="submit-id-neue-buchung">
            </div>
        </div>
    </div>

    <script>
        $(function() {
            function checkCurrency() {

                var selSoll = $('#sollKonto').find('option:selected');
                var selHaben = $('#habenKonto').find('option:selected');
                var sCurrency = selSoll.data('currency');
                var hCurrency = selHaben.data('currency');
                console.log(sCurrency)
                console.log(hCurrency)

                if (sCurrency == hCurrency) {
                    console.log("The currencies are the same.")
                    $('#currency-input').hide("slow");
                    $('#currency-input input').val("1")
                } else {
                    console.log("The currencies are different.")
                    $('#currency-input').show("slow");
                    $('#currency-code').text(sCurrency + "/" + hCurrency)
                    $('#currency-input input').val("")
                }
            }


            $("select[name='buchung_sollKonto']").val("{{ buchung_details.buchung_sollKonto.id }}");
            $("select[name='buchung_habenKonto']").val("{{ buchung_details.buchung_habenKonto.id }}");

            checkCurrency()
            $('#currency-input input').val("{{ buchung_details.buchung_rate }}")


            $('#sollKonto').change(function(){

               checkCurrency()

            });

            $('#habenKonto').change(function(){

               checkCurrency()

            });
        });
    </script>



{% endblock %}