{% extends '_layouts/base.html' %}


{% block content %}



<h1 class="page-header">Konto &auml;ndern: {{ konto_details.konto_title }}</h1>
<br />

<form role="form" method="post" action="" class="form-horizontal form-groups-bordered">

    {% csrf_token %}

    <div class="form-group">
        <label for="field-1" class="col-sm-3 control-label">Konto Titel</label>

        <div class="col-sm-5">
            <input type="text" class="form-control" id="field-1" value="{{ konto_details.konto_title }}" name="konto_title">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Erfolgswirksam?</label>

        <div class="col-sm-5">
              <input id="switch-state" type="checkbox" name="konto_erfolgswirksam">
        </div>
    </div>

    <div class="form-group">
        <div class="aktiv-passiv">
            <label class="col-sm-3 control-label">Aktiv oder Passiv?</label>

            <div class="col-sm-5">
                <select class="form-control" name="konto_type">
                    <option value="A">Aktiv</option>
                    <option value="P">Passiv</option>
                </select>
            </div>
        </div>
        <div class="aufwand-ertrag" style="display:none;">
            <label class="col-sm-3 control-label">Aufwand oder Ertrag?</label>

            <div class="col-sm-5">
                <select class="form-control" name="konto_type" disabled>
                    <option value="A">Aufwand</option>
                    <option value="P">Ertrag</option>
                </select>
            </div>
        </div>
    </div>



    <div class="form-group">
        <label class="col-sm-3 control-label">Konto Kategorie</label>

        <div class="col-sm-5 kategorie-erfolgswirksam" style="display:none;">
            <select class="form-control" name="konto_type2">
                <option value="-" selected>-----</option>
                <option value="B">Betriebsaufwand/-ertrag</option>
                <option value="F">Finanzaufwand/-ertrag</option>
                <option value="S">Steueraufwand/-ertrag</option>
                <option value="N">neutraler Aufwand/Ertrag</option>
            </select>
        </div>
        <div class="col-sm-5 kategorie-nichterfolgswirksam">
            <select class="form-control" name="konto_type3">
                <option value="-" selected>-----</option>
                <option value="UV">Umlaufverm&ouml;gen</option>
                <option value="AV">Anlageverm&ouml;gen</option>
                <option value="kFK">kurzfristiges Fremdkapital</option>
                <option value="lFK">langfristiges Fremdkapital</option>
                <option value="EK">Eigenkapital</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">W&auml;hrung</label>

        <div class="col-sm-5">
            <div class="radio">
                <label>
                    <input type="radio" name="konto_currency" id="optionsRadios1" value="CHF" checked="">CHF
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="konto_currency" id="optionsRadios2" value="EUR">EUR
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="konto_currency" id="optionsRadios2" value="USD">USD
                </label>
            </div>
        </div>
    </div>

    <div class="form-group" style="border-bottom:0;">
        <div class="col-sm-5 col-sm-offset-3">
            <input type="submit" name="neues-konto" value="&Auml;nderungen speichern" class="btn btn-primary btn-primary" id="submit-id-neues-konto">
        </div>
    </div>


    <script>
    $(document).ready(function(){
        $("input[name='konto_erfolgswirksam']").bootstrapSwitch();

        $('input[name="konto_erfolgswirksam"]').on('switchChange.bootstrapSwitch', function(event, state) {

          if (state == true) {
            $(".aktiv-passiv").hide("slow");
            $(".aufwand-ertrag").show("slow");
            $(".kategorie-nichterfolgswirksam").hide("slow");
            $(".kategorie-erfolgswirksam").show("slow");
            $(".aktiv-passiv select").prop('disabled', true);
            $(".aufwand-ertrag select").prop('disabled', false);
            $(".kategorie-nichterfolgswirksam select").val("-");
          } else {
            $(".aufwand-ertrag").hide("slow");
            $(".aktiv-passiv").show("slow");
            $(".kategorie-nichterfolgswirksam").show("slow");
            $(".kategorie-erfolgswirksam").hide("slow");
            $(".aktiv-passiv select").prop('disabled', false);
            $(".aufwand-ertrag select").prop('disabled', true);
            $(".kategorie-erfolgswirksam select").val("-");
          }
        });
    });
    </script>

    <script>
        $(function() {
            var $radios = $('input:radio[name=konto_currency]');
            if($radios.is(':checked') === true) {
                $radios.filter('[value={{ konto_details.konto_currency }}]').prop('checked', true);
            }
            {% if konto_details.konto_erfolgswirksam %}
                $("input[name='konto_erfolgswirksam']").bootstrapSwitch('toggleState');
                $(".aufwand-ertrag select").val("{{ konto_details.konto_type }}");
                $(".kategorie-erfolgswirksam select").val("{{ konto_details.konto_type2 }}");
            {% else %}
                $(".aktiv-passiv select").val("{{ konto_details.konto_type }}");
                $(".kategorie-nichterfolgswirksam select").val("{{ konto_details.konto_type3 }}");
            {% endif %}
        });
    </script>

{% endblock %}